@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-montserrat;
}

.icon {
  width: 36px;
  height: 36px;
  background: red;
}

@layer components {
  .center-row {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .center-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
